* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: #5D3FD3;
    font-weight: 600;
    opacity: 0.8;
}
h3 {
    color: #5d3fd3;
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 0.8;
}
p {
    color: #8c77e0;
    font-weight: 600;
    opacity: 0.8;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top,#BF40BF,#5D3FD3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1,.circle2 {
    background: white;
    height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255,255,255,0.2));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1{
    top: 6%;
    right: 14%;
}

.circle2{
    bottom: 5%;
    left: 10%;
}

.dashboard {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    padding: 1rem 1rem;
    border-radius: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.page {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 2rem;
    align-items: center;
}

.screen {
    flex: 3;
}
