

nav {
    width: 90%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-between;
        flex: 1;
        align-items: center;
        list-style: none;
        li {
            padding: 0rem 2rem;
        }
    }
    #logo{
        flex: 1.2;
    }
    .afspraak {
        color: black;
        background: linear-gradient(to right,#094bad,#ff66c4);
        padding: 1rem 2rem;
        border-radius: 3rem;
    }
}
.homepage {
    display: grid;
    min-height: 80vh;
    grid-template-columns: 5% 1fr 5% 1fr 5%;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    
    .title1,.title2 {
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#8058b8;
    }

    .title1 {
        grid-column: 2/3;
    }
    .title2 {
        grid-column: 4/5;
    }

    .info1,.info2 {
        grid-row: 3/4;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    

    .info1 {
        grid-column: 2/3;
    }
    .info2 {
        grid-column: 4/5;
    }
    
    img {
        grid-row: 3/4;
        grid-column: 4/5;
        
    }
}


#Hoofd {
    border-radius: 3rem;
}
    