html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 8rem;
}
h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 3rem;
}
p {
    font-size: 2.5rem;
}
li {
    font-size: 2rem;
}
a {
    color: white;
    text-decoration: none;
}
@import "home";


main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: radial-gradient(#525252, #131313);
}